<!-- <div class="top-page">

</div> -->
<div class="middle-page">
    <div>
        <form (ngSubmit)="onSubmit()">
            <div class="total-games-input">
                <mat-form-field>
                    <mat-label>Total Games</mat-label>
                    <input name="totalGmesInput" #totalGamesInput matInput type="number" value=100 [(ngModel)]="this.totalGames">
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button type="submit" color="primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="response-display">

    </div>
</div>
<!-- <div class="bottom-page">
    
</div> -->