/* .top-page{
  margin: 25%;
  opacity: 0.1;
} */

.middle-page {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 25%;
  text-align: center;
}

.total-games-input {
  height: 4rem;
}