/* .top-page{
  margin: 25%;
  opacity: 0.1;
} */

.input-form {
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  padding: 10%;
  padding-bottom: 5%;
  text-align: center;
}

.total-games-input {
  height: 4rem;
}

.response-display {
  margin-left: 10%;
  margin-right: 10%;
  /* margin-top: 1%; */
  /* text-decoration-color: aliceblue; */
  /* text-align: center; */
}

/* mat-card {
  text
} */