<!-- <div class="top-page">

</div> -->
<div class="middle-page">
    <div class="input-form">
        <form (ngSubmit)="onSubmit()">
            <div class="total-games-input">
                <mat-form-field>
                    <mat-label>Total Games</mat-label>
                    <input name="totalGmesInput" #totalGamesInput matInput type="number" value=100 [(ngModel)]="this.totalGames">
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button type="submit" color="primary">Submit</button>
            </div>
        </form>
    </div>

    <div *ngIf="displayResults" class="response-display">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Results</mat-card-title>
            </mat-card-header>
            <mat-card-content color="warn">Total Games: {{totalGamesResult}}</mat-card-content>
            <mat-card-content color="warn">Wins Without Switching: {{winsWithoutSwitching}}</mat-card-content>
            <mat-card-content color="warn">Wins With Switching: {{winsWithSwitching}}</mat-card-content>
            <mat-card-actions align="end">
                <button mat-flat-button color="primary" (click)="onClear()">Clear</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<!-- <div class="bottom-page">
    
</div> -->