.full-game {
    padding-top: 20%;
    /* padding-left: 25%; */
    /* padding: 25%; */
    text-align: center;
}

.game-text {
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    margin-top: 5%;
}